			<footer class="main-footer no-print">
				<!-- To the right -->
				<div class="pull-right hidden-xs">
					Programming Tests
				</div><!-- Default to the left -->
				Using : Ruby on Rails, AdminLTE
			</footer>